process {
    withName: QC { conda = 'bioconda::fastqc' }
    withName: trim { conda = 'bioconda::trimmomatic' }
    withName: trimQC { conda = 'bioconda::fastqc' }
    withName: hisat { conda = 'bioconda::hisat2 bioconda::samtools' }
    withName: featurecounts { conda = 'bioconda::subread' }
}

profiles {
    conda {
        process.conda = "${projectDir}/environment.yml"
        conda.enabled = true
    }
}
